{% extends '@KilikTableDemo/layout.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="sm-12">
                {% embed "@KilikTableDemo/Product/_list.html.twig" with {"table": table} %}
                    {% block tableTitle %}
                        <b>Products list</b>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path("tabledemo_index") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a></li>
                            <li><a href="#" class="refreshOnClick"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
                            <li><a href="#" id="btnExportCsv"><span class="glyphicon glyphicon-floppy-save"></span> Export as CSV</a></li>
                        </ul>
                    {% endblock tableTitle %}
                {% endembed %}
            </div>
        </div>
    </section>
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode |raw }}'));

            table.init();
            // callback after list reload
            table.afterReload = function () {
                console.log("test callback");
            }

            // bouton export
            $("#btnExportCsv").click(function () {
                $("form[name=" + table.getFormName() + "]").attr("action", "{{ path("product_list_export") }}").submit();
            });
        });
    </script>

{% endblock javascript %}
