{% extends 'layout.html.twig' %}

{% block body %}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>Welcome on Kilik/TableDemo</h1>
            </div>
        </div>
        <div class="panel-body">
            <h2>Examples</h2>
            <ul>
                <li><a href="{{ path("organisation_list") }}">Organisations list (simple)</a></li>
                <li><a href="{{ path("contact_list") }}">Contacts list (leftJoin, concat)</a></li>
                <li><a href="{{ path("organisation_groupby_list") }}">Organisations list with COUNT (Group-By example)</a></li>
                <li><a href="{{ path("organisation_custom_list") }}">Organisations with stock informations (custom form filters)</a></li>
                <li><a href="{{ path("product_list") }}">Product list (leftJoin with alternative pagination)</a></li>
                <li><strike>Via API calls list (demo unmaintained)</strike></li>
            </ul>
            <h2>Sources</h2>
            <ul>
                <li><a href="https://github.com/KilikFr/TableBundle">Kilik/TableBundle</a></li>
                <li><a href="https://github.com/KilikFr/TableDemo">Kilik/TableDemo</a></li>
            </ul>
        </div>
    </div>

{% endblock body %}
